!!!
%html
  %head
    %title Shortly
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %header.group
      %hgroup
        %h1= link_to 'Short.ly', root_path
        %h2 Life's too short for long URLs

      %ul.links
        - if signed_in?
          %li= link_to 'My Shortens', current_user, class: 'btn btn-primary'
          %li= link_to 'Settings', '/settings', class: 'btn'
          %li= link_to 'Log out', '/logout', class: 'btn'
        - else
          %li= link_to 'Signup', '/signup', class: 'btn btn-primary'
          %li= link_to 'Login', '/login', class: 'btn'

    - flash.each do |key, value|
      .alert{ class: "alert-#{key}" }
        = value

    %section#main
      = yield
